<main>
<div id="reg">
<h3>Registration</h3>
	<form (submit)="register()" #regForm="ngForm">
		<label for="name">*Name:

 <div class="input-group">

		<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
		<input type="text"
		name="name"
		class="form-control"
		placeholder="Enter Name"
		required
		[(ngModel)]="user.name"
		#name="ngModel"
		>

</div>

		<p *ngIf="name.errors?.required && (name.touched || name.dirty)">Please enter your name.</p>
		</label>
		<label for="email">*Email:

 <div class="input-group">

 		
	<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
		<input type="text"
		name="email"
		class="form-control"
		placeholder="Enter Email"		
		required
		minlength="4"
		[(ngModel)]="user.email"
		#email="ngModel"
		>

</div>

		<p *ngIf="email.errors?.required && (email.touched || email.dirty)">Please enter your email.</p>
		<p *ngIf="email.errors?.minlength && (email.touched || email.dirty)">Must be at least 4 characters.
		</p>
		</label>
		<label for="password">*Password:

 <div class="input-group">

	 <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
		<input type="password"
		name="password"
		class="form-control"
		placeholder="Enter Password"		
		required
		minlength="8"
		maxlength="32"
		[(ngModel)]="user.password"
		#password="ngModel"
		>

</div>

		<p *ngIf="password.errors?.required && (password.touched || password.dirty)">Please enter a password.</p>
		<p *ngIf="password.errors?.minlength && (password.touched || password.dirty)">Must be at least 8 characters.</p>
		<p *ngIf="password.errors?.maxlength && (password.touched || psasword.dirty)">Cannot be more than 32 characters.</p>
		<p *ngIf="password.errors?.pattern && (password.touched || password.dirty)">Must include 1 lowercase, 1 uppercase, and 1 number.</p>
		</label>
		<label for="password_confirm">*Password Confirmation:

 <div class="input-group">

	 <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>


		<input type="password"
		name="password_confirm"
		class="form-control"
		placeholder="Confirm Password"

		required
		[(ngModel)]="user.password_confirm"
		#password_confirm="ngModel"
		>

</div>



		<p *ngIf="!password_confirm.valid && (password_confirm.dirty || password_confirm.touched)">Please confirm password.</p>
		<p *ngIf="user.password != user.password_confirm && (password_confirm.dirty || password_confirm.touched)">Passwords do not match.</p>
		</label>
		<label for="birthday">Birthday:
		<input type="date"
		name="birthday"
		required
		[(ngModel)]="user.birthday"
		#birthday="ngModel"
		>
		<p *ngIf="!birthday.valid && (birthday.dirty || birthday.touched)">Birthday is required</p>
		</label>
		<input class="sub" type="submit" [disabled]="!regForm.form.valid" value="Register">
	</form>
	<p class="space">Already registered? <a [routerLink]="['/main', 'login']">LOGIN</a></p>
</div>
</main>