<!--
<p>
  journal works!
</p>
-->
<div id="journal">
<h2> Journal </h2>

<!--

	<p>{{journal | json }}</p>
-->

	<p>How are you feeling today?
		<select
			type="select"
			name="mood"
			[(ngModel)]="journal.mood"
			#mood="ngModel">
			<option disabled>Select...</option>
			<option value="happy">Happy</option>
			<option value="sad">Sad</option>
		</select>
		</p>


	<section>
		<inline-editor
		type="textarea"
		name="entry"
		cols="80"
		rows="10"
		placeholder="Enter Journal Entry"
		[(ngModel)]="journal.entry"
		(onSave)="saveEditable($event)"
		#entry="ngModel"> </inline-editor>
	</section>

</div>
