<div id="journal">
	<h2> Journal </h2>
	<p>THE DATE BEING CLICKED ON IN JOURNAL IS {{newDate | json}}</p>
		<form (submit)="serviceCreateEntry()" #journalForm="ngForm" *ngIf="create">
			<textarea type="textarea"
			rows="4"
			columns="30"
			name="entry"
			placeholder="Tell me about your day..."
			[(ngModel)]="journal.entry"
			#entry="ngModel"></textarea>
			<input type="submit" value="Submit">
		</form>

		<!--
		<inline-editor *ngIf="!create"
		type="textarea"
		name="entry"
		cols="80"
		rows="10"
		placeholder="Enter Journal Entry"
		[(ngModel)]="journal.entry"
		(onSave)="saveEditable($event)"
		#entry="ngModel"> </inline-editor>
	</section>
	-->


</div>
