
.blue {
	background-color: blue;
}

.red {
	background-color: red;
}

.green {

	background-color: green;
}
p {
	font-size: 30px;
	text-align: center;

}

#todo {
height: 300px;
border: 1px solid #E1E1E1;
border-radius: 5px;
}

#event {
height: 300px;
border: 1px solid #E1E1E1;
border-radius: 5px;
}

#journal {
height: 300px;
border: 1px solid #E1E1E1;
border-radius: 5px;
margin-top: 10px;
}
