label {
  display: block;
}

p {
  display: inline;
  color: red;
}

#create {
	background: #99e6ff;
	width: 600px;
	height: 400px;
	padding: 10px 25px 0px 25px;
	border-radius: 25px ;
	box-shadow: 5px 5px 3px #000;	

}